.footer {
    background: rgb(53 43 42);
}
.container-footer {
    max-width: 500px;
}
.logo.bottom {
    width: 130px;
    padding: 3em 1.8em;
}
.info-footer {
    padding: 0 0 1em 2.5em;
    color: rgb(229 236 225);
}
.copyright {
    padding: 0.5em 2.3em;
    color: rgb(107 96 96);
}
